<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_4_0.xsd"
         version="4.0">
    <!-- 配置一个Servlet -->
    <!-- Servlet的配置-->
    <servlet>
        <!--Servlet的内部名称，自定义，尽量有意义-->
        <servlet-userName>firstServlet</servlet-userName>
        <!--Servlet类的全名: 包名 + 类名-->
        <servlet-class>cn01.xyh.Servlet.FirstServlet</servlet-class>
    </servlet>
    <!-- Servlet的映射配置-->
    <servlet-mapping>
        <!--Servlet的内部名称，一定要和上面的内部名称保持一致-->
        <servlet-userName>firstServlet</servlet-userName>
        <!--Servlet的映射路径，访问这个Servlet的路径-->
        <url-pattern>/firstServlet</url-pattern>
    </servlet-mapping>
    <!-- Servlet的配置结束-->

    <!--配置一个带有初始化参数的Servlet-->
    <servlet>
        <servlet-userName>configDemo</servlet-userName>
        <servlet-class>cn05.xyh.ServletConfig.ConfigDemo</servlet-class>
        <!--配置servlet初始化参数,这些参数会在加载web应用时封装到ServletConfig对象中-->
        <init-param>
            <param-userName>path</param-userName>
            <param-value>e:/a.txt</param-value>
        </init-param>
        <init-param>
            <param-userName>AAA</param-userName>
            <param-value>bbb</param-value>
        </init-param>
        <init-param>
            <param-userName>BBB</param-userName>
            <param-value>bbb</param-value>
        </init-param>
    </servlet>
    <servlet-mapping>
        <servlet-userName>configDemo</servlet-userName>
        <url-pattern>/configDemo</url-pattern>
    </servlet-mapping>
    <!--一个带有初始化参数的Servlet配置结束-->

    <!--配置web应用参数-->
    <context-param>
        <param-userName>AAA</param-userName>
        <param-value>aaa</param-value>
    </context-param>
    <context-param>
        <param-userName>BBB</param-userName>
        <param-value>bbb</param-value>
    </context-param>
    <context-param>
        <param-userName>CCC</param-userName>
        <param-value>ccc</param-value>
    </context-param>
    <!--web应用参数配置结束-->
    <!--配置一个过滤器-->
    <filter>
        <filter-userName>demo1</filter-userName>
        <filter-class>cn11.xyh.Filter.Demo01.Demo1</filter-class>
    </filter>
    <filter-mapping>
        <filter-userName>demo1</filter-userName>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--过滤器配置结束-->

    <!--配置一个带初始化参数的过滤器-->
    <filter>
        <filter-userName>demo3</filter-userName>
        <filter-class>cn11.xyh.Filter.Demo01.Demo3</filter-class>
        <init-param>
            <param-userName>encoding</param-userName>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-userName>path</param-userName>
            <param-value>c:/...</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-userName>demo3</filter-userName>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!--带初始化参数的过滤器配置结束-->

    <!--监听request对象创建、销毁-->
    <listener>
        <listener-class>cn12.xyh.Listener.MyRequestListener</listener-class>
    </listener>
    <!--监听request对象创建、销毁结束-->
</web-app>